[submodule "steam-auth-code"]
	path = steam-auth-code
	url = https://github.com/chrisxue815/steam-auth-code.git
[submodule "realworld"]
	path = realworld
	url = https://github.com/chrisxue815/angularjs-realworld-example-app.git
[submodule "canada-visa-processing-time"]
	path = canada-visa-processing-time
	url = https://github.com/chrisxue815/canada-visa-processing-time.git
[submodule "pack"]
	path = pack
	url = https://github.com/tianyicui/pack.git
